[submodule "2 Comments/css/libs"]
	path = 2 Comments/css/libs
	url = https://github.com/twitter/bootstrap.git
[submodule "2 Comments/js/libs/moment"]
	path = 2 Comments/js/libs/moment
	url = https://github.com/timrwood/moment.git
