[submodule "2 Comments/js/libs/moment"]
	path = 2 Comments/js/libs/moment
	url = https://github.com/timrwood/moment.git
[submodule "2 Comments/js/libs/md5"]
	path = 2 Comments/js/libs/md5
	url = https://github.com/blueimp/JavaScript-MD5.git
[submodule "2 Comments/js/libs/underscore"]
	path = 2 Comments/js/libs/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "2 Comments/js/libs/backbone"]
	path = 2 Comments/js/libs/backbone
	url = https://github.com/documentcloud/backbone.git
