<h4>Add Comment</h4>

<form action="">
    <label for="name">Name</label>
    <input class="span4" id="name" name="name" type="text">

    <label for="email">Email</label>
    <input class="span4" id="email" name="email" type="text">
    <span class="help-block">Only used for Gravatar!</span>

    <label for="text">Comment</label>
    <textarea class="span4" id="text" name="text" rows="5"></textarea>

    <button type="submit" class="btn btn-primary">Add Comment</button>
    &nbsp;
    <button type="reset" class="btn pull-right">Clear Form</button>
</form>