<h3>Add Comment</h3>

<form action="" class="form-stacked">
    <div class="clearfix">
        <label for="commentName">Name</label>
        <div class="input">
            <input  class="span5" id="commentName" name="commentName" type="text">
        </div>
    </div>
    <div class="clearfix">
        <label for="commentEmail">Email</label>
        <div class="input">
            <input  class="span5" id="commentEmail" name="commentEmail" type="text">
        </div>
    </div>
    <div class="clearfix">
        <label for="commentText">Comment</label>
        <div class="input">
            <textarea class="span5" id="commentText" name="commentText" rows="5"></textarea>
        </div>
    </div>
    <div class="span5 clearfix">
        <button type="submit" class="btn primary">Add Comment</button>
        &nbsp;
        <button type="reset" class="btn pull-right">Clear Form</button>
    </div>
</form>